  <div class="footer" >
    <div class="counter">
      <% if(vistorCounter){ %>
        <span class="badge badge-danger badge-pill footer_badge">
          총 방문자 : <%= vistorCounter.totalCount %><br>
          ( 오늘 : <%= vistorCounter.todayCount %> )
        </span>
        <% } %>
      </div>

    <br>

    <strong>Maker : 김세준( Kim se jun )</strong><br>
    <a href="http://ce.tu.ac.kr/default/main/main.jsp">동명대학교 컴퓨터 공학과
      ( Tongmyong University Computer Science )
    </a> <br>
    학번( class of ) : 12120084 <br>
    phone : 010-4250-7675<br>
    E-mail : wns8628@naver.com<br>
    <a href="#">GitHub Project</a><br>

  </div>
